📢 আমরা এই অডিয়ো/ভিডিয়োটি পেয়েছি এবং তদন্ত করে দেখেছি যে সেটি কৃত্রিম বুদ্ধিমত্তা (AI) দ্বারা তৈরি।

ফ্যাক্টচেকাররা যে তথ্যগুলো পাঠিয়েছেন তা হল:

1. <%= Enum.at(factcheck_articles,0) |> Map.get(:domain) %>: <%= Enum.at(factcheck_articles,0) |> Map.get(:url) %>

2. <%= Enum.at(factcheck_articles,1) |> Map.get(:domain) %>: <%= Enum.at(factcheck_articles,1) |> Map.get(:url) %>

🧠 বিচক্ষণতার সঙ্গে তথ্যটি শেয়ার করুন

আমাদের সঙ্গে যোগাযোগ করার জন্য ধন্য়বাদ। আপনার দিনটি শুভ হোক। 🙏