📢 आम्ही या ऑडिओ/व्हिडिओचे पुनरावलोकन केले आणि ते डीपफेक असल्याचे आढळले.

फॅक्ट चेकर्सनी खालील माहिती दिली आहे:

1. <%= Enum.at(factcheck_articles,0) |> Map.get(:domain) %>: <%= Enum.at(factcheck_articles,0) |> Map.get(:url) %>

2. <%= Enum.at(factcheck_articles,1) |> Map.get(:domain) %>: <%= Enum.at(factcheck_articles,1) |> Map.get(:url) %>

🧠 कृपया ही माहिती शेअर करताना तुमचा विवेक वापरा.

आमच्यापर्यंत पोहोचल्याबद्दल धन्यवाद. तुमचा पुढील दिवस चांगला जावो. 🙏