📢 இந்த audio/video-ஐ நாங்கள் ஆராய்ந்து கண்டறிந்தது என்னவென்றால் அது ஒரு Deepfake ஆகும்.

🎯எங்களுடைய ஆய்வு முடிவுகளை இங்கே படியுங்கள்:<%= assessment_report %>

🧠 இந்த தகவலைப் பகிரும்முன் கவனமுடன் யோசியுங்கள்.

எங்களைத் தொடர்பு கொண்டதற்கு நன்றி. இந்த நாள் இனிய நாளாக அமையட்டும் 🙏
