📢 ہم نے اس آڈیو/ویڈیو کا تجزیہ کیا اورپایا کہ اس میں چھیڑ چھاڑ کی گئی ہے۔

فیکٹ چیکرس نے بھی درج ذیل کا اشتراک کیا ہے:

1. <%= Enum.at(factcheck_articles,0) |> Map.get(:domain) %>: <%= Enum.at(factcheck_articles,0) |> Map.get(:url) %>

🧠 براہ کرم اس معلومات کو شیئر کرنے میں اپنے شعور کا استعمال کریں۔

ہم سے رابطہ کرنے کے لئے آپ کا شکریہ۔ ہم امید کرتے ہیں کہ آپ کا دن اچھا گزرے گا۔ 🙏
