📢 AI தொடர்பான எந்தவொரு உருவாக்கமும் இந்த audio/video-இல்  இல்லை. எனினும், AI தொடர்பான உருவாக்கங்கள் இல்லாமல் இருப்பதால் மட்டும் இந்த audio/video தகவல் உண்மையாக இருக்க வேண்டும் என்பதற்கு எந்தவித உறுதியும் இல்லை.

ஃபேக்ட் செக்கர்களும் இதுகுறித்து கீழ்கண்டவற்றை பகிர்ந்துள்ளனர்:

1. <%=Enum.at(factcheck_articles,0)|>Map.get(:domain)%>: <%=Enum.at(factcheck_articles,0)|>Map.get(:url)%>

2. <%=Enum.at(factcheck_articles,1)|>Map.get(:domain)%>: <%=Enum.at(factcheck_articles,1)|>Map.get(:url)%>

🧠இந்த தகவலைப் பகிரும்முன் கவனமுடன் யோசியுங்கள்.

எங்களைத் தொடர்பு கொண்டதற்கு நன்றி. இந்த நாள் இனிய நாளாக அமையட்டும்   🙏
