📢অডিয়ো/ভিডিয়োটিতে কৃত্রিম বুদ্ধিমত্তা (AI) ব্যবহারের কোনও প্রমাণ মেলেনি। কিন্তু কৃত্রিম বুদ্ধিমত্তা (AI) ব্যবহার হয়নি মানে এটা নয় যে অডিয়ো/ ভিডিয়োটিতে যে তথ্য দেওয়া হয়েছে সেটা সঠিক।

ফ্য়াক্টচেকের মাধ্যমে অডিয়ো/ভিডিয়োটি সম্পর্কে সঠিক তথ্য পেতে চাইলে নিম্নলিখিত হোয়াটসঅ্যাপ টিপলাইন নম্বরগুলিতে পাঠাতে পারেন:

➡️Boom: +91-7700906588
➡️Vishvas News: +91-9599299372
➡️Factly: +91-9247052470
➡️THIP: +91-8507885079
➡️Newschecker: +91-9999499044
➡️Fact Crescendo: +91-9049053770
➡️India Today: +91-7370007000
➡️Newsmobile:+91-1171279799
➡️Quint WebQoof: +91-9540511818
➡️Logically Facts: +91-8640070078
➡️Newsmeter: +91-7482830440
➡️Telugu Post: +91-8885688701

আমাদের সঙ্গে যোগাযোগ করার জন্য ধন্য়বাদ। আপনার দিনটি শুভ হোক। 🙏
