 সময় বের করে অডিয়ো/ ভিডিয়োটি পাঠানোর জন্য ধন্য়বাদ🙌

আমরা কেবলমাত্র সেই সমস্ত অডিয়ো/ ভিডিয়োরই তদন্ত করি যেগুলো সম্পর্কে জনগণের জানার আগ্রহ রয়েছে এবং যেগুলো একটি বড় অংশকে বিভ্রান্ত করতে পারে। আমরা ব্য়ক্তিগত অডিয়ো/ ভিডিয়োর তদন্ত করি না।


সন্দেহজনক কিছু দেখলে, আবারও আমাদের সঙ্গে যোগাযোগ করতে কোনও দ্বিধা করবেন না।

আপনার দিনটি শুভ হোক 🙏