We appreciate you taking time out to send this audio/video. 🙌

We only check audio/video that are of public interest and likely to mislead people. We don't review personal and private audio/video.

If you come across anything that is suspicious or misleading, please do not hesitate to reach out to us again.

We hope you have a good day ahead. 🙏
