📢 We reviewed this audio/video and found it to be Manipulated.

Fact checkers have also shared the following: 

1. <%= Enum.at(factcheck_articles, 0) |> Map.get(:domain) %>: <%= Enum.at(factcheck_articles, 0) |> Map.get(:url) %>

2. <%= Enum.at(factcheck_articles, 1) |> Map.get(:domain) %>: <%= Enum.at(factcheck_articles, 1) |> Map.get(:url) %>


🧠 Please use your discretion in sharing this information. 

Thank you for reaching out to us. We hope you have a good day ahead. 🙏
